{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
{{!-- 
 <nav class="navbar navbar-inverse" id="nav1">
 <div class="container-fluid">
   
     <h3>State Goverment</h3>
 </div>
 </nav>

 <nav class="navbar navbar-inverse" >
      <div class="container">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">State Goverment</a>
        </div>
        <div class="navbar-collapse collapse" id="navcoid2">
          <ul class="nav navbar-nav" id="coid">
         
            <li><a href="#home">Home</a></li>
            <li><a href="#about">Dashboard</a></li>
            <li><a href="#contact">Procurment</a></li>
             <li><a href="#contact">Bulk Allocation</a></li>
        
             </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <form id="formbor">
<h1>Login</h1>
<div class="field">
<label>User Name</label>
{{input value=userName}}
</div>
<div class="field">
<label>Password</label>

{{input value=password type="password"}}
</div>
<div class="btn btn-primary" {{action 'login'}}>Login</div>
</form>
 --}}
{{outlet}}