The UserName is {{UserName}}<br><br>
The Password is {{Password}}<br><br>
Email-Id is {{email}}<br><br>
<div><h2>First Property Registraion</h2>
<a href="firstproperty">Signup</a>
 
</div>

{{outlet}}